{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="cssrewrite,uglifycss" output="compressed/css/style.css"
    '../vendor/external/libs/bootstrap/dist/css/bootstrap.css'
    '../vendor/external/libs/bootstrap/dist/css/bootstrap-theme.css'
    '@KayBlogBundle/Resources/public/css/*' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts filter="uglifyjs2" output="compressed/js/script.js"
    '../vendor/external/libs/jquery/dist/jquery.js'
    '../vendor/external/libs/bootstrap/dist/js/bootstrap.js'
    '@KayBlogBundle/Resources/public/js/*' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <h1>Posts list</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Createdat</th>
                <th>Updatedat</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</a></td>
                <td>{{ post.content }}</td>
                <td>{% if post.createdAt %}{{ post.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if post.updatedAt %}{{ post.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ post.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_new') }}">Create a new post</a>
        </li>
    </ul>
{% endblock %}
